@font-face {
  font-family: "Source Sans 3";
  src: url("https://github.com/adobe-fonts/source-sans/raw/release/TTF/SourceSans3-Regular.ttf");
}

li#header { 
  background-color: rgba(61, 61, 61, 0.6) !important;
}

#header .flex-column {
  border-top: none;
}

#header .flex-column-i-icon {
  border: none;
}

#header .flex-column-deal-per-second {
  border-top: none;
}

.container {
  height: 25px !important;
}

span.flex-column { 
  padding: 0 5px;
  border-top: 0.1em solid #000;
}

.flex-column-i-icon {
  background-color: rgba(8,8,8,0.85);
  border-right: 0.1em solid #000; 
} 

body { 
  transition: all .5s ease-in-out; 
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004); 
  text-rendering: optimizeLegibility; 
}

nav {
  height: 26px !important;
  font-size: 11px !important;
  line-height: normal !important;
  background-color: rgba(61, 61, 61, 0.6) !important;
}

footer {
  font-size: 14px !important;
  background-color: rgba(61, 61, 61, 0.6) !important;
  border-top: 0.1em solid #000;
}

.history {
  position: relative;
  align-items: center !important;
  line-height: 25px !important;
  overflow: hidden;
}

.history > .icon-container {
  display: flex !important;
  align-items: center;
}

#history-icon svg {
  display: none;
}

#history-time {
  margin-left: 4px;
  font-size: 14px;
}

#history-mob {
  margin-left: 4px;
  height: 100%;
  font-size: 14px;
}

#history-region {
  display: none;
}

li#init-menu {
  display: none !important;
}

#patchnote {
  overflow: visible;
}

#patchnote:before {
  content: '';
  position: relative;
  top: 8px;
  font-size: 1.1em;
}

#patchnote > *{
  display: none;
}

#background {
  background-color: rgba(8, 8, 8, 0.6) !important;
} 

.flex-column {
  font-size: 14px;
}

.flex-column.flex-column-i-name {
  width: auto;
  flex-grow: 1;
  min-width: 0;
  align-self: stretch;
}
.flex-column.flex-column-deal-accuracy {
  width: 3.5rem;
}

.flex-column.flex-column-heal-over,
.flex-column.flex-column-etc-death {
  width: 2.5rem;
}
